<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Fruit Page</title>
</head>
<body>
    <h1>New Fruit Page</h1>
    <!--  NOTE: action will be the route, method will be the HTTP verb-->
    <form action="/fruits" method="POST">
            User Id: <input type="text" name="userId" /><br/>
        Name: <input type="text" name="name" /><br/>
        Color: <input type="text" name="color" /><br/>
        Is Ready To Eat: <input type="checkbox" name="readyToEat" /><br/>
        <input type="submit" name="" value="Create Fruit"/>
    </form>
</body>
</html>